DataInputt/DataInputt/Connected Services/DataInputServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataInputService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServer" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataInputService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IDataInputService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDataInputService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IDataInputService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IDataInputService_GetTimes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimes" />
  </wsdl:message>
  <wsdl:message name="IDataInputService_GetTimes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataInputService_AddTime_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTime" />
  </wsdl:message>
  <wsdl:message name="IDataInputService_AddTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IDataInputService_Projects_InputMessage">
    <wsdl:part name="parameters" element="tns:Projects" />
  </wsdl:message>
  <wsdl:message name="IDataInputService_Projects_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataInputService_CalculateEarnings_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateEarnings" />
  </wsdl:message>
  <wsdl:message name="IDataInputService_CalculateEarnings_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateEarningsResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataInputService">
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataInputService/CreateUser" message="tns:IDataInputService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataInputService/CreateUserResponse" message="tns:IDataInputService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataInputService/Login" message="tns:IDataInputService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataInputService/LoginResponse" message="tns:IDataInputService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataInputService/GetTimes" message="tns:IDataInputService_GetTimes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataInputService/GetTimesResponse" message="tns:IDataInputService_GetTimes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataInputService/AddTime" message="tns:IDataInputService_AddTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataInputService/AddTimeResponse" message="tns:IDataInputService_AddTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Projects">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataInputService/Projects" message="tns:IDataInputService_Projects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataInputService/ProjectsResponse" message="tns:IDataInputService_Projects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateEarnings">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataInputService/CalculateEarnings" message="tns:IDataInputService_CalculateEarnings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataInputService/CalculateEarningsResponse" message="tns:IDataInputService_CalculateEarnings_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataInputService" type="tns:IDataInputService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IDataInputService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IDataInputService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimes">
      <soap:operation soapAction="http://tempuri.org/IDataInputService/GetTimes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTime">
      <soap:operation soapAction="http://tempuri.org/IDataInputService/AddTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Projects">
      <soap:operation soapAction="http://tempuri.org/IDataInputService/Projects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateEarnings">
      <soap:operation soapAction="http://tempuri.org/IDataInputService/CalculateEarnings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataInputService">
    <wsdl:port name="BasicHttpBinding_IDataInputService" binding="tns:BasicHttpBinding_IDataInputService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServer/DataInputService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>