DataInputt/DataInputt/Connected Services/DataInputServiceReference/WcfServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Passwort" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfTime">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Time" nillable="true" type="tns:Time" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTime" nillable="true" type="tns:ArrayOfTime" />
  <xs:complexType name="Time">
    <xs:sequence>
      <xs:element minOccurs="0" name="End" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Project" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
      <xs:element minOccurs="0" name="uId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Time" nillable="true" type="tns:Time" />
</xs:schema>